body{
	text-align: center;
	font-family: sans-serif;
	color: white;
	max-width: 1600px;
	margin: auto;
	background-color: #008000;
}
img.cards{
	height: 170px;
	padding: 5px 5px 5px 5px;
	border-style: dashed;
	border-width: 2px;
	margin-left: 4px;
	margin-right: 4px;
}
span{

	font-size: 2em;
	display: block;
}

div.table{
	padding-top: 10px;
	height: 200px;
	width: 65%;
	margin: auto;
	border-style: dashed;
	border-width: 2px;
	margin-bottom: 5px;
	border-radius: 7px;

}
div.buttons{
	height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
button {
  background: #008000;
  cursor: pointer;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  width: 300px;
  box-shadow: none;
}

button:hover {
  background: #004d00;

  text-decoration: none;
}