body{
	text-align: center;
	font-family: sans-serif;
	color: white;
	max-width: 1600px;
	margin: auto;
	background-color: #008000;
}
h1{
	font-size: 1.5em;
}
img.cards{
	display: none;
	height: 140px;
	padding: 5px 5px 5px 5px;
	border-style: dashed;
	border-width: 2px;
	margin-left: 4px;
	margin-right: 4px;
}

span{

	font-size: 2em;
	display: block;
}

div.table{
	padding-top: 10px;
	height: 160px;
	width: 65%;
	margin: auto;
	margin-top: 5px;
	border-style: dashed;
	border-width: 2px;
	margin-bottom: 15px;
	border-radius: 7px;

}
div.buttons{
	height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}
button {
  background: #008000;
  cursor: pointer;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  width: 300px;
  box-shadow: none;
}

button:hover {
  background: #004d00;

  text-decoration: none;
}
div.message{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	display: none;
	background-color: #008000;

	border-bottom-style: solid;
	border-width: 2px; 
	padding-bottom: 20px;
}
p{
	font-weight: bold;
}
div.list {
	margin: auto;
	width: 60%;
	text-align: left;
}
.message ul{

	text-align: left;
}
div.message_info{

	width: 65%;

	margin: auto;
	border-style: dashed;
	border-width: 2px;
	font-weight: bold;
	margin-top: 20px;
	padding-top: 20px;
	
	padding-bottom: 20px;
	margin-bottom: 20px;
}
span.message_info{

	font-size: 0.85em;
}